.prod {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    // background: var(--div-bg);

    h1 {
        font-family: var(--main-font);
        position: relative;
        display: inline-block;
        // align-items: center;
        // justify-content: center;
        font-size: clamp(1.5rem, 5vw, 3rem);
        /* responsive font size */
        line-height: 1.2;
        /* consistent spacing */
        text-align: center;

        &::after {
            content: '';
            // position: absolute;
            display: block;
            width: 40%;
            height: 3px;
            background: var(--main-gr);
            margin-top: .2em;
            margin-inline: auto;
            transform-origin: left;
        }
    }

    .prod-con {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 20px;
        width: clamp(100px, 70vw, 90vw);

        .prod {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: var(--second-color-2);
            width: 200px;
            height: 200px;
            cursor: pointer;
            font-family: var(--nav-font-family);
            transition: .3s ease;
            filter: drop-shadow(2px 2px 3px);

            h5 {
                background: white;
                padding-block: 10px;
                padding-inline: 30px;
                border-radius: 10px;
                white-space: nowrap; // keeps text on one line
                width: auto;
                font-size: clamp(18px, 1.6vw, 20px);
            }
        }
    }
}

@media (max-width:600px) {
    .prod {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;

            &::after {
                top: max(10vh, 8vh);
            }
        }

        .prod-con {
            gap: 10 !important;
            width: 90%;

            .prod {
                width: 100px;
                height: 100px;

                h5 {
                    background: transparent;
                    color: white;
                    filter: drop-shadow(2px 2px 2px black);
                }
            }
        }
    }
}