nav {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  text-align: center !important;
  width: 100%;
  font-family: var(--nav-font-family);
  background: var(--nav-bg);
  filter: drop-shadow(2px 2px 4px gray);
  min-height: 5vh;
  max-height: 40vh;
  // max-width: 100%;
  // position: relative;
  padding: 10px;
  position: fixed;
  z-index: 10000;
  font-size: clamp(14px, 2vw, 22px);



  h1 {
    font-family: var(--main-font);

    span {
      color: var(--main-color);
    }
  }

  .info {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    min-width: 60vw;
    margin: 0;
    padding: 0;
    // width: 100%;
    // padding-inline: 70px;
    // position: relative;

    .dropdown {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      align-self: center !important;
      flex-wrap: nowrap;
      list-style: none;
      gap: 25px !important;
      max-width: 100% !important; //solved the screen prblm
      z-index: 900 !important;
      width: auto !important;

      li {
        cursor: pointer;
        //padding-inline: 10px;
        border-radius: 20px;
        padding-block: 10px !important;
        width: 100% !important;
        /* fills parent, no extra width */
        min-width: 0;
        /* allows shrinking */
        box-sizing: border-box;
        transition: .2s ease;
        font-size: clamp(20px, 1.6vw, 20px);
        // flex-shrink: 0; // prevents text from squishing too much
        white-space: nowrap; // keeps text on one line
        width: auto;

        &:hover {
          // background: var(--main-color);
          color: var(--main-color);
        }

        &:hover .a {
          color: var(--main-color);
        }

        &.clicked {
          color: var(--main-color);
        }

        &.clicked .a {
          color: var(--main-color);
        }
      }
    }

    .contact-info {
      display: flex;
      gap: 10px;
      list-style: none;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;

      #menuBar {
        display: none;
      }

      li {
        background: var(--second-color-2);
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: clamp(7px, 1.4vw, 18px);
        //flex-shrink: 0; // prevents text from squishing too much
        white-space: nowrap; // keeps text on one line
        width: auto; //here the contact items disapears into the viewport

        &:nth-last-child(2) {
          background-color: green;
          color: white;
        }
      }
    }
  }
}


@media (max-width:600px) {
  nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 0 !important;
    position: relative;
    max-width: 100%;
    z-index: 1000;

    h1 {
      font-size: smaller;
      display: flex;
      flex-direction: column;

      span {

        font-size: 22px !important;
        filter: drop-shadow(2px 2px 4px);
      }
    }

    .info {
      font-size: 1.6em;
      overflow: hidden;
      // position: relative;
      max-width: 100%;

      .dropdown {
        box-sizing: border-box;
        /* include padding inside width */
        overflow: hidden;
        // display: flex;
        gap: 10px;
        list-style: none;
        position: absolute;
        top: 100%;
        /* right under nav */
        left: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        background: var(--nav-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        /* Hide off-screen without affecting page width */
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;

        &.show {
          transform: translateX(0);
          opacity: 1;
          pointer-events: auto;
        }

        li {
          width: 100% !important;
          text-align: center;

          &:nth-child(2) {
            display: none;
          }

          &.clicked {
            background: transparent !important;
            color: var(--main-color) !important;
          }

          &.clicked .a {
            background: transparent !important;
            color: var(--main-color);
          }

          &:hover {
            background: transparent !important;
            color: black;
          }

          &:hover .a {
            color: black;
          }
        }
      }

      .contact-info {
        padding-left: 5px;
        font-size: .4em;
        padding-top: 10px;

        li {
          max-width: 100%;
          width: 100%;
          min-width: 100px;
        }

        #menuBar {
          display: block;
          cursor: pointer;
        }
      }


    }
  }
}

@media (min-width:600px) and (max-width:1380px) {
  .dropdown {
    box-sizing: border-box;
    /* include padding inside width */
    overflow: hidden;
    // display: flex;
    gap: 10px;
    list-style: none;
    position: absolute;
    top: 100%;
    /* right under nav */
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100%;
    background: var(--nav-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* Hide off-screen without affecting page width */
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;

    &.show {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }

    li {
      width: 100% !important;
      text-align: center;

      &:nth-child(2) {
        display: none;
      }

      &.clicked {
        background: transparent !important;
        color: var(--main-color) !important;
      }

      &.clicked .a {
        background: transparent !important;
        color: var(--main-color);
      }

      &:hover {
        background: transparent !important;
        color: black;
      }

      &:hover .a {
        color: black;
      }
    }
  }

   .contact-info {
        padding-left: 5px;
        font-size: .4em;
        padding-top: 10px;
        li {
          max-width: 100%;
          width: 100%;
          min-width: 100px;
        }

        #menuBar {
          display: block !important;
          cursor: pointer;
        }
      }
}